<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rockbeealert">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:label="RockBee Alert"
        android:theme="@style/Theme.RockBeeAlert">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".AddColonyActivity"/>
        <activity android:name=".EmergencyActivity"/>
        <activity android:name=".LearnActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".ProfileActivity"/>

    </application>
</manifest>
